@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-image: url("/img/Desktop.png");
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.k-header.is-open .k-header-background {
  left: 0;
}
.k-header-button-wrapper {
  margin-left: auto;
}
.k-header-icon {
  display: none;
}

.k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.k-navigation-list.is-open {
  right: 0;
}
.k-header-icon-menu {
  display: block;
}

.k-header-icon-button.is-open .k-header-icon-menu {
  display: none;
}

.k-header-icon-button.is-open .k-header-icon-close {
  display: block;
}

.k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;

  background: rgba(255, 255, 255, 1);
}

.k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.k-header-icon-close {
  margin: 4px 6px 0 0;
}
.k-header.is-open .k-header-background {
  left: 0;
}
.k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.k-header-icon-menu {
  display: block;
}

.k-header-icon-button.is-open .k-header-icon-menu {
  display: none;
}

.k-header-icon-button.is-open .k-header-icon-close {
  display: block;
}

.k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 4px 10.4px 0px rgba(61, 61, 61, 0.25);
}

.k-navigation-list.is-open {
  right: 0;
}

.k-navigation-link {
  font-family: Winky Sans;
  font-weight: 500;
  font-size: 20px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(45, 45, 45, 1);
}

.k-navigation-link:hover,
.k-navigatioт-link:focus {
  font-weight: 700;
  font-size: 24px;
}

.k-header.is-open {
  background-color: transparent;
}

.k-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .k-navigation-img {
    display: flex;
  }
  .k-policy-terms-header-icon-menu {
    display: none;
  }

  .k-header {
    width: 100%;
    height: 108px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .k-header-background {
  }
  .k-header-icon-button {
    display: none;
  }
  .k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 16px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .k-navigation-link {
    padding: 0 10px;
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;

    text-decoration: none;
  }

  .k-navigation-item-desk {
    display: none;
  }
}
.k-home {
  width: 375px;
  height: 810px;
  padding: 173px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 255.png");
  margin: auto;
}

.k-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.k-home-title {
  width: 273.8601379394531px;
  height: 214px;
}

.k-home-text {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  font-family: Winky Sans;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 40px 0 16px;
}

.k-home-google-button-image {
  width: 208px;
  height: 54px;
}

.k-home-google-button-link:hover .k-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .k-home {
    width: 1440px;
    height: 1024px;
    padding: 171px 0px 0px;
    background-image: url("/img/home/Frame\ 256.png");
  }

  .k-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .k-home-title {
    width: 523.4055786132812px;
    height: 409px;
  }

  .k-home-text {
    font-family: Winky Sans;
    font-weight: 600;
    font-size: 36px;

    text-align: center;
    padding: 14px 0 16px;
  }
}
.k-about {
  padding: 50px 20px 0px;
  margin: auto;
  width: 375px;
  color: rgba(45, 45, 45, 1);
}

.k-about-title {
  font-family: Winky Sans;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.k-about-text {
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
  padding-top: 24px;
}

@media screen and (min-width: 1200px) {
  .k-about {
    padding: 63px 108px 0;
    width: 1440px;
  }
  .k-about-title {
    font-family: Winky Sans;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
  }

  .k-about-text {
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;

    padding-top: 48px;
  }
}
.k-how {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}

.k-how-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.k-how-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.k-how-item-two {
  flex-direction: row-reverse;
}
.k-how-text-bold {
  width: 46px;
  height: 46px;
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.25);
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.k-how-text {
  width: 271px;
  border-radius: 20px;
  padding: 16px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25),
    -2px -2px 8px 0px rgba(0, 0, 0, 0.25);
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .k-how {
    width: 1440px;
    padding: 120px 346px 0;
  }
  .k-how-list {
    padding-top: 48px;
    gap: 24px;
  }

  .k-how-item {
    gap: 48px;
  }

  .k-how-text-bold {
    width: 62px;
    height: 62px;
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .k-how-text {
    width: 632px;
    border-radius: 20px;
    padding: 16px;
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.k-reviews {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}

.k-reviews-list {
  padding-top: 24px;
}

.k-reviews-item {
  margin: 0 5px;
  width: 307px;
  height: 224px;
  border-radius: 40px;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
}
.k-reviews-item-two {
  background: rgba(153, 218, 168, 1);
}
.k-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: start;
}

.k-reviews-text-bold {
  font-family: Winky Sans;
  font-weight: 600;
  font-size: 16px;

  text-transform: uppercase;
}

.k-reviews-text {
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;
  height: 100px;
}
.k-reviews-img {
  margin: auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .k-reviews {
    width: 1440px;
    padding: 120px 105px;
  }
  .k-reviews-list {
    padding-top: 48px;
  }

  .k-reviews-item {
    margin: 0 12px;
    width: 512px;
    height: 303px;
    border-radius: 40px;
    padding-top: 29px;
    padding-right: 37px;
    padding-bottom: 29px;
    padding-left: 37px;
  }

  .k-reviews-text-bold {
    font-family: Winky Sans;
    font-weight: 600;
    font-size: 24px;
  }

  .k-reviews-text {
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;

    padding-top: 16px;
    height: 112px;
  }
  .k-reviews-img {
    margin: auto;
    margin-top: 63px;
  }
}

.k-faq {
  padding: 80px 20px 0px;
  margin: auto;
  width: 375px;
}

.k-faq-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.k-faq-item {
  border-radius: 16px;
  padding: 16px;
  border: 1px solid rgba(153, 153, 153, 1);
  background: rgba(241, 248, 255, 1);
}

.k-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Winky Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.k-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.k-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .k-faq {
    padding: 120px 375px 0;
    width: 1440px;
  }
  .k-faq-container {
    padding-top: 48px;
    gap: 24px;
  }

  .k-faq-item {
    padding: 24px;
  }

  .k-faq-question {
    font-weight: 500;
    font-size: 24px;
  }

  .k-faq-answer {
    font-weight: 400;
    font-size: 24px;
  }
}
.k-gallery {
  width: 375px;
  margin: auto;
  padding: 80px 16px 0;
}

.k-gallery-list {
  width: auto;
  padding-top: 24px;
  margin: auto;
}

.k-gallery-item {
  width: 253px;
  height: 450px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.k-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .k-gallery {
    width: 1440px;

    padding: 120px 108px 0;
  }

  .k-gallery-item {
    width: 253px;
    height: 450px;
    margin: 0 20px;
  }

  .k-gallery-list {
    padding: 48px 0 0px;
  }
}

.k-features {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.k-features-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.k-features-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.k-features-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.k-features-img {
  width: 31px;
  height: 31px;
}

.k-features-text {
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
  color: rgba(45, 45, 45, 1);
}

@media screen and (min-width: 1200px) {
  .k-features {
    width: 1440px;
    padding: 120px 188px 0;
  }
  .k-features-div {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
  }
  .k-features-list {
    padding-top: px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .k-features-item {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .k-features-img {
    width: 50px;
    height: 50px;
  }

  .k-features-text {
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;
  }
}

.k-policy-terms-container {
  padding: 124px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Winky Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.k-policy-terms-title {
  font-family: Winky Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.k-policy-terms-text {
  padding-top: 20px;
  font-family: Winky Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.k-policy-terms-texts {
  padding-top: 8px;
}

.k-policy-terms-text-one {
  padding-top: 20px;
}

.k-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.k-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.k-email-link {
  color: inherit;
  text-decoration: none;
}

.k-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .k-policy-terms-container {
    padding: 140px 107px 60px;
    width: 1440px;
    font-family: Winky Sans;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .k-policy-terms-title {
    font-family: Winky Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

  .k-policy-terms-text {
    padding-top: 40px;
    font-family: Winky Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .k-policy-terms-text-one {
    padding-top: 30px;
  }

  .k-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.k-footer {
  width: 375px;
  margin: auto;
  padding: 19px 57px;
  box-shadow: 0px -1px 10px 0px rgba(172, 172, 172, 0.25);
}

.k-footer-container {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.k-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.k-footer-text {
  text-decoration: none;
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(0, 0, 0, 1);
}

.k-footer-copyright {
  font-family: Winky Sans;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .k-footer {
    width: 1440px;
  }

  .k-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .k-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 19px;
  }

  .k-footer-text {
    font-family: Winky Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .k-footer-copyright {
    font-family: Winky Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 28px;
  background: rgba(241, 248, 255, 1);

  z-index: 1000;
  display: none;
}

.k-cookie-popup-text-two {
  font-family: Winky Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.k-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.k-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 79, 182, 1);
  width: 319px;
  border-radius: 8px;
  padding-top: 15px;
  padding-right: 12px;
  padding-bottom: 15px;
  padding-left: 12px;
  font-family: Winky Sans;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

#accept-cookies {
  background: rgba(255, 255, 255, 1);
  border: none;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .k-cookie-popup-text-two {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .k-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 16px;
  }

  .k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
